logs/
*.aux
*.fdb_latexmk
*.synctex.gz
*.fls
*.log
*.pdf
*.out
*.bbl
*.autosave
*.idea*
*.creator
*.user*
*.pyc
*.lyx~
*.lyx#
*.swp
*.ipynb_checkpoints/*

*.pkl
*.bag
*/plots/*.png
*build*
*data
*.emergency
*/plots/
plots/*
results/*
